# Python (Backend)
__pycache__/
*.pyc
.pytest_cache/
**/.venv/
**/env/

# Node (Frontend)
/node_modules/
**/dist/
*.local

# Docker
.DS_Store
*.log

# Environnement
**/.env
.env*

# IDE
.vscode/
.idea/